# ================== #
# Java / Maven      #
# ================== #
/apsit-connect/target/
/apsit-connect/.m2/
/apsit-connect/mvnw
/apsit-connect/mvnw.cmd
/apsit-connect/.idea/
/apsit-connect/*.iml
/apsit-connect/.DS_Store
/apsit-connect/logs/
/apsit-connect/bin/

# ================== #
# Node.js / React   #
# ================== #
/frontend/node_modules/
/frontend/build/
/frontend/.npm/
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# ================== #
# General Editor    #
# ================== #
.vscode/
*.log